.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    padding: 16px;
    border-radius: 16px;
    width: 90%;
    margin-top: -90px;
    max-width: 500px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    position: relative;

    .modalActions {
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;
    }
  }