.generateContent {
    font-size: 23px;
    font-weight: bold;
}

.aiInput {
    resize: none;
    width: 100%;
    outline: none;
    border: none;
    height: 140px;
    max-height: 140px;
    border-radius: 8px;
    padding: 10px;
    font-size: 15px;
    border: 1.2px solid rgba(18,18,18);
    margin-top: 10px;
    background: transparent;
    color: var(--wht);
}

.modalActions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;

    .modalActionsRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        justify-content: flex-end;
    }

    button {
        padding: 0 16px;
        font-size: 15px;
        transition: all 0.2s ease-out;
    }
    
    .cancelButton {
        border: 1.5px solid rgba(18, 18, 18);
        background: var(--blck);
        height: 40px;
        border-radius: 12px;
        color: var(--wht);

        &:active {
            background: rgba(18, 18, 18);
            border: 1.5px solid rgba(18, 18, 18);
        }
    }

    .generateButton {
        background: var(--wht);
        color: var(--blck);
        height: 38px;
        border: 1.5px solid rgba(18, 18, 18);
        border-radius: 12px;
        transition: all 0.2s ease-in-out;
    }
}

.counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;

    span {
        font-size: 14px;
    }
}